@font-face {
  /* 为载入的字体取名字(随意) */
  font-family:'titl';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/online-ogwlp.otf);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family:'kai';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/AaCuiZhuXianHe-ShouJinShu-2.ttf);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}


/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 导航容器设置为flex布局 */
.menus {
  display: flex; /* 启用flex */
  justify-content: center; /* 水平居中（核心） */
  align-items: center; /* 可选：垂直居中（如果需要） */
  width: 100%; /* 确保容器占满宽度 */
}

/* 菜单列表（ul）清除默认样式 */
.menus .menu {
  display: flex; /* 菜单项横向排列 */
  list-style: none; /* 清除默认列表样式 */
  margin: 0;
  padding: 0;
}

/*svg图标大小*/
.icon {
    width: 3em; height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* 导航间距 */
#nav .menus_items .menus_item {
  padding: 0 0 0 8px !important;
}

/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -95px;
}
.menus_items .menus_item:nth-child(3) .menus_item_child {
  left: -103px;
}
.menus_items .menus_item:nth-child(4) .menus_item_child {
  left: -102px;
}
.menus_items .menus_item:nth-child(5) .menus_item_child {
  left: -117px;
}
.menus_items .menus_item:nth-child(6) .menus_item_child {
  left: -133px;
}
.menus_items .menus_item:nth-child(7) .menus_item_child {
  left: -105px;
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  /* text-align: center; */
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
  padding: 20px;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}
[data-theme="dark"] #article-container figure.highlight {
  border: 0.5px solid #404040;
}

/* 手机端适配 */
@media screen and (max-width: 768px) {
  .tk-comment .vemoji[alt|="Menhera"],
  .tk-comment .tk-owo-emotion[alt*="Menhera"],
  .tk-comment .vemoji[alt|="Snow"],
  .tk-comment .tk-owo-emotion[alt*="Snow"],
  .tk-comment .vemoji[alt|="Sweetie"],
  .tk-comment .tk-owo-emotion[alt*="Sweetie"],
  .tk-comment .vemoji[alt|="Tsuri"],
  .tk-comment .tk-owo-emotion[alt*="Tsuri"],
  .tk-comment .vemoji[alt|="Yurui"],
  .tk-comment .tk-owo-emotion[alt*="Yurui"] {
    max-width: calc(100% - 30px) !important;
    max-height: calc(100% - 30px) !important;
  }
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Menhera"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Snow"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Sweetie"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tsuri"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Yurui"] {
    max-width: calc(33% - 10px);
    box-sizing: border-box;
  }
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Heybox"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="bilibili"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tieba"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="QQ"] {
    max-width: calc(18% - 10px) !important;
    box-sizing: content-box;
  }
}

/* 头像宽度调整 rem单位与全局字体大小挂钩，需配合自己情况调整大小以保证头像显示完整*/
.tk-replies .tk-avatar {
  
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.tk-replies .tk-avatar img {
  width: 2.5rem !important;
  height: 2.5rem !important;
}/* 自适应内容 */
@media screen and (min-width: 1024px) {
  /* 设置宽度上限，避免挤压博主头像 */
  .tk-content {
    max-width: 75%;
    width: fit-content;
  }
  .tk-master .tk-content {
    width: 75%;
  }
  .tk-master .tk-content::before {
    left: 100%;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
  }
  .tk-master .tk-avatar {
    
    position: relative;
    left: calc(75% + 70px);
  }
  .tk-master .tk-row[data-v-d82ce9a0] {
    position: relative;
    top: 0px;
    left: calc(75% - 230px);
  }
  [data-theme="dark"] .tk-master .tk-content::before {
    border-left: 15px solid #000;
    border-right: 0px solid transparent;
  }
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: "";
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}

/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
  animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
  animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 1px 1px #9ff2d2;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #9ff2d2;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #9ff2d2;
  }
}
@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}


/* heo 加载动画头像 */
.loading-img {
  background: url(https://origin.picgo.net/2025/11/07/pic4e2752b9447bcbc0.png)
    no-repeat center center;
  background-size: cover;
}
/* heo 夜间模式加载背景色 */
[data-theme="dark"] {
  --loading-color: rgba(25, 25, 25, 0.92) !important;
}

/* 顶栏常驻 */
.nav-fixed #nav {
  transform: translateY(58px) !important;
  -webkit-transform: translateY(58px) !important;
  -moz-transform: translateY(58px) !important;
  -ms-transform: translateY(58px) !important;
  -o-transform: translateY(58px) !important;
}
#nav {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@media screen and (mai-width: 768px) {
  #nav {
    padding: 0 28px;
  }
}

/* 手机侧边菜单栏 */
#sidebar #sidebar-menus {
  background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);
  border-radius: 15px;
}

/* 手机菜单栏渐变色适配暗黑模式 */
[data-theme="dark"] #sidebar #sidebar-menus {
  background: rgba(25, 25, 25, 0.95) !important;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/* 翻页按钮上边距 */
#pagination .pagination {
  margin-top: 10px;
}

/* 置顶滚动栏电脑端样式，手机端用默认的 */
@media screen and (min-width: 600px) {
  .blog-slider {
    height: 260px !important;
  }
  .blog-slider__img {
    width: 240px !important;
    height: 100% !important;
  }
}

/* 二级菜单圆角 */
#nav .menus_items .menus_item .menus_item_child,
#nav .menus_items .menus_item .menus_item_child li,
#nav .menus_items .menus_item .menus_item_child li:first-child,
#nav .menus_items .menus_item .menus_item_child li:last-child {
  border-radius: 20px;
}

/* 右边的按钮间距 */
#meihua-button,
#nightmode-button {
  padding-left: 12px;
}

/* 搜索框样式 */
#algolia-search .search-dialog .ais-SearchBox .ais-SearchBox-form input {
  border: 2px solid var(--theme-color) !important;
  border-right: 0px !important;
}

#algolia-search .search-dialog .ais-Hits-list a:hover {
  color: var(--theme-color) !important;
}

#algolia-search .search-dialog .ais-Hits-list li:before {
  border: 0.215em solid var(--theme-color) !important;
}

/* 小冰分类分类磁铁黑夜模式适配 */
.magnet_item {
  margin-right: 5px !important;
}
#catalog_magnet {
  padding: 18px 18px 0 18px !important;
}
@media screen and (max-width: 600px) {
  .magnet_item {
    margin-right: 0px !important;
  }
}
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
[data-theme="dark"] .magnet_link_context {
  border-radius: 6px;
}
[data-theme="dark"] .magnet_link_context:hover {
  background: var(--text-bg-hover) !important;
  color: #f2f2f2;
  border-radius: 6px;
}

/* 霓虹灯颜色渐变 */
/* #site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
  transition: text-shadow 1s linear !important;
} */

/* 代码框数字行 */
#article-container figure.highlight .gutter pre {
  border-right: 0.5px solid #808080;
}

/* 增加代码块的最大高度，允许显示更多内容并滚动 */
pre code {
    max-height: none;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

/* 右边栏设置齿轮转速 */
i.fas.fa-cog.right_side {
  animation: fa-spin 5s linear infinite;
}

/* 目录样式 */
#aside-content #card-toc .toc-content {
  margin: 0 -16px 0 -25px;
}

/* 版权下面标签排列 */
#post .tag_share .post-meta__tag-list {
  display: flex;
}
#post .tag_share .post-meta__tags {
  border-radius: 20px;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(227, 167, 15, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: var(--theme-color) !important;
}

/* 代码框底部滚动条 */
#article-container figure.highlight > ::-webkit-scrollbar-thumb {
  background-color: #35393f !important;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 75%,
    transparent
  ) !important;
  border-radius: 2em !important;
}

/* 字体引入 */
@font-face {
  font-family: YSHST;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/优设好身体.woff2);
  font-display: swap;
}

@font-face {
  font-family: MiSans;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/MiSans.woff2);
  font-display: swap;
}

@font-face {
  font-family: HYTMR;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/HYTangMeiRen55W.woff2);
  font-display: swap;
}

@font-face {
  font-family: LXGW;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/霞鹜文楷.woff2);
  font-display: swap;
}

@font-face {
  font-family: TTQHB;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/甜甜圈海报字体.woff2);
  font-display: swap;
}

@font-face {
  font-family: Consolas_1;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/Consolas.woff2);
  font-display: swap;
}

@font-face {
  font-family: ZhuZiAWan;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/ZhuZiAWan2.woff2);
  font-display: swap;
}

/* 特定部件字体调用 */
div#menus {
  font-weight: bold !important;
}
h1#site-title {
  font-size: 3em !important;
  font-weight: bold !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-weight: bold !important;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongbiao::before {
  color: #f7c768;
}

/* 滚动显示的标题居中 */
center#name-container {
  position: absolute !important;
  width: fit-content !important;
  left: 42% !important;
  /* transform: translateX(-50%) !important; */
  /* transform: translateY(-100%) !important; */
}
@media screen and (max-width: 768px) {
  center#name-container {
    display: none;
  }
}

[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}
/* 关键帧描述 */
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e90f92;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e90f92, 0 0 5px #e90f92;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #e90f92;
  border-left-color: #e90f92;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/* 在下面修改进度条外观 */
.pace .pace-progress {
  background: #1ef4fbec; /*进度条颜色*/
  height: 3px;/* 进度条厚度 */
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #1ef4fbce, 0 0 5px #1ecffbd0; /*阴影颜色*/
}
.pace .pace-activity {
  border-top-color: #1edafbe5;	/*上边框颜色*/
  border-left-color: #1ef4fbec;	/*左边框颜色*/
}

/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}


.card-info-avatar .author-status-box {
  
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}
/*鼠标放上去展开长度*/
.card-info-avatar .author-status-box:hover {
  width: 85px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}
/* 侧栏居中 */
.card-widget .card-info-avatar {
  
  display: inline-block;
  position: relative;
}
.card-widget .author-info__name {
  text-align: center;
}
.card-widget .author-info__description{
  text-align: center;
}
.card-info-data.site-data.is-center{
  text-align: center;
}
.card-info-social-icons.is-center{
  text-align: center;
}
.author_top.is-center{
  text-align: center;
}


/* 雪花特效 */
[data-theme="light"] #snow{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}
[data-theme="dark"] #snow{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}
/* 雪花黑夜模式不显示
[data-theme="dark"] #snow{
  display: none;
} */
