@font-face {
  /* 为载入的字体取名字(随意) */
  font-family:"kai";	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url("/fonts/online-ogwlp.otf") format("otf");
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 导航容器设置为flex布局 */
.menus {
  display: flex; /* 启用flex */
  justify-content: center; /* 水平居中（核心） */
  align-items: center; /* 可选：垂直居中（如果需要） */
  width: 100%; /* 确保容器占满宽度 */
}

/* 菜单列表（ul）清除默认样式 */
.menus .menu {
  display: flex; /* 菜单项横向排列 */
  list-style: none; /* 清除默认列表样式 */
  margin: 0;
  padding: 0;
}

/*svg图标大小*/
.icon {
    width: 3em; height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* 导航间距 */
#nav .menus_items .menus_item {
  padding: 0 0 0 8px !important;
}

/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -95px;
}
.menus_items .menus_item:nth-child(3) .menus_item_child {
  left: -103px;
}
.menus_items .menus_item:nth-child(4) .menus_item_child {
  left: -102px;
}
.menus_items .menus_item:nth-child(5) .menus_item_child {
  left: -117px;
}
.menus_items .menus_item:nth-child(6) .menus_item_child {
  left: -133px;
}
.menus_items .menus_item:nth-child(7) .menus_item_child {
  left: -105px;
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
  padding: 20px;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}
[data-theme="dark"] #article-container figure.highlight {
  border: 0.5px solid #404040;
}

/* 手机端适配 */
@media screen and (max-width: 768px) {
  .tk-comment .vemoji[alt|="Menhera"],
  .tk-comment .tk-owo-emotion[alt*="Menhera"],
  .tk-comment .vemoji[alt|="Snow"],
  .tk-comment .tk-owo-emotion[alt*="Snow"],
  .tk-comment .vemoji[alt|="Sweetie"],
  .tk-comment .tk-owo-emotion[alt*="Sweetie"],
  .tk-comment .vemoji[alt|="Tsuri"],
  .tk-comment .tk-owo-emotion[alt*="Tsuri"],
  .tk-comment .vemoji[alt|="Yurui"],
  .tk-comment .tk-owo-emotion[alt*="Yurui"] {
    max-width: calc(100% - 30px) !important;
    max-height: calc(100% - 30px) !important;
  }
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Menhera"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Snow"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Sweetie"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tsuri"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Yurui"] {
    max-width: calc(33% - 10px);
    box-sizing: border-box;
  }
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Heybox"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="bilibili"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tieba"],
  .OwO .OwO-body .OwO-items-image .OwO-item[title*="QQ"] {
    max-width: calc(18% - 10px) !important;
    box-sizing: content-box;
  }
}

/* 头像宽度调整 rem单位与全局字体大小挂钩，需配合自己情况调整大小以保证头像显示完整*/
.tk-replies .tk-avatar {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.tk-replies .tk-avatar img {
  width: 2.5rem !important;
  height: 2.5rem !important;
}/* 自适应内容 */
@media screen and (min-width: 1024px) {
  /* 设置宽度上限，避免挤压博主头像 */
  .tk-content {
    max-width: 75%;
    width: fit-content;
  }
  .tk-master .tk-content {
    width: 75%;
  }
  .tk-master .tk-content::before {
    left: 100%;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
  }
  .tk-master .tk-avatar {
    position: relative;
    left: calc(75% + 70px);
  }
  .tk-master .tk-row[data-v-d82ce9a0] {
    position: relative;
    top: 0px;
    left: calc(75% - 230px);
  }
  [data-theme="dark"] .tk-master .tk-content::before {
    border-left: 15px solid #000;
    border-right: 0px solid transparent;
  }
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: "";
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}

/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
  animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
  animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 1px 1px #9ff2d2;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #9ff2d2;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #9ff2d2;
  }
}
@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}


/* heo 加载动画头像 */
.loading-img {
  background: url(https://origin.picgo.net/2025/11/07/pic4e2752b9447bcbc0.png)
    no-repeat center center;
  background-size: cover;
}
/* heo 夜间模式加载背景色 */
[data-theme="dark"] {
  --loading-color: rgba(25, 25, 25, 0.92) !important;
}

/* 顶栏常驻 */
.nav-fixed #nav {
  transform: translateY(58px) !important;
  -webkit-transform: translateY(58px) !important;
  -moz-transform: translateY(58px) !important;
  -ms-transform: translateY(58px) !important;
  -o-transform: translateY(58px) !important;
}
#nav {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@media screen and (mai-width: 768px) {
  #nav {
    padding: 0 28px;
  }
}

/* 手机侧边菜单栏 */
#sidebar #sidebar-menus {
  background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);
  border-radius: 15px;
}

/* 手机菜单栏渐变色适配暗黑模式 */
[data-theme="dark"] #sidebar #sidebar-menus {
  background: rgba(25, 25, 25, 0.95) !important;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/* 翻页按钮上边距 */
#pagination .pagination {
  margin-top: 10px;
}

/* 置顶滚动栏电脑端样式，手机端用默认的 */
@media screen and (min-width: 600px) {
  .blog-slider {
    height: 260px !important;
  }
  .blog-slider__img {
    width: 240px !important;
    height: 100% !important;
  }
}

/* 二级菜单圆角 */
#nav .menus_items .menus_item .menus_item_child,
#nav .menus_items .menus_item .menus_item_child li,
#nav .menus_items .menus_item .menus_item_child li:first-child,
#nav .menus_items .menus_item .menus_item_child li:last-child {
  border-radius: 20px;
}

/* 右边的按钮间距 */
#meihua-button,
#nightmode-button {
  padding-left: 12px;
}

/* 搜索框样式 */
#algolia-search .search-dialog .ais-SearchBox .ais-SearchBox-form input {
  border: 2px solid var(--theme-color) !important;
  border-right: 0px !important;
}

#algolia-search .search-dialog .ais-Hits-list a:hover {
  color: var(--theme-color) !important;
}

#algolia-search .search-dialog .ais-Hits-list li:before {
  border: 0.215em solid var(--theme-color) !important;
}

/* 小冰分类分类磁铁黑夜模式适配 */
.magnet_item {
  margin-right: 5px !important;
}
#catalog_magnet {
  padding: 18px 18px 0 18px !important;
}
@media screen and (max-width: 600px) {
  .magnet_item {
    margin-right: 0px !important;
  }
}
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
[data-theme="dark"] .magnet_link_context {
  border-radius: 6px;
}
[data-theme="dark"] .magnet_link_context:hover {
  background: var(--text-bg-hover) !important;
  color: #f2f2f2;
  border-radius: 6px;
}

/* 霓虹灯颜色渐变 */
/* #site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
  transition: text-shadow 1s linear !important;
} */

/* 代码框数字行 */
#article-container figure.highlight .gutter pre {
  border-right: 0.5px solid #808080;
}

/* 增加代码块的最大高度，允许显示更多内容并滚动 */
pre code {
    max-height: none;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

/* 右边栏设置齿轮转速 */
i.fas.fa-cog.right_side {
  animation: fa-spin 5s linear infinite;
}

/* 目录样式 */
#aside-content #card-toc .toc-content {
  margin: 0 -16px 0 -25px;
}

/* 版权下面标签排列 */
#post .tag_share .post-meta__tag-list {
  display: flex;
}
#post .tag_share .post-meta__tags {
  border-radius: 20px;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(227, 167, 15, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: var(--theme-color) !important;
}

/* 代码框底部滚动条 */
#article-container figure.highlight > ::-webkit-scrollbar-thumb {
  background-color: #35393f !important;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 75%,
    transparent
  ) !important;
  border-radius: 2em !important;
}

/* 字体引入 */
@font-face {
  font-family: YSHST;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/优设好身体.woff2);
  font-display: swap;
}

@font-face {
  font-family: MiSans;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/MiSans.woff2);
  font-display: swap;
}

@font-face {
  font-family: HYTMR;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/HYTangMeiRen55W.woff2);
  font-display: swap;
}

@font-face {
  font-family: LXGW;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/霞鹜文楷.woff2);
  font-display: swap;
}

@font-face {
  font-family: TTQHB;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/甜甜圈海报字体.woff2);
  font-display: swap;
}

@font-face {
  font-family: Consolas_1;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/Consolas.woff2);
  font-display: swap;
}

@font-face {
  font-family: ZhuZiAWan;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/ZhuZiAWan2.woff2);
  font-display: swap;
}

/* 特定部件字体调用 */
div#menus {
  font-weight: bold !important;
}
h1#site-title {
  font-size: 3em !important;
  font-weight: bold !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-weight: bold !important;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongbiao::before {
  color: #f7c768;
}

/* 滚动显示的标题居中 */
center#name-container {
  position: absolute !important;
  width: fit-content !important;
  left: 42% !important;
  /* transform: translateX(-50%) !important; */
  /* transform: translateY(-100%) !important; */
}
@media screen and (max-width: 768px) {
  center#name-container {
    display: none;
  }
}

[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}
/* 关键帧描述 */
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}
